
body{
  font-family: 'Righteous', cursive;
}

.hand-font{
  font-family: 'Righteous', cursive;
font-family: 'Instrument Sans', sans-serif;

}

.testing{
  width: 100px;
  height:100px;
  background-color: orange;
  border-color: black;
  border-radius: 2px;
}

.card{
  border-radius: 0%;
  background-color: #040549;
border-color: aliceblue;
  /* background-image: url("assets/images/cardBG.jpg"); */
background-size: cover ;

  background-repeat: no-repeat;

  margin-top: 30px;
}

.img-white {
  -webkit-filter: drop-shadow(2px 1px 0 white)
                  drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(2px 1px 0 white) 
          drop-shadow(-1px -1px 0 white);
}

.img-logo{
  width: 30px;
}



.card-body h5,p{
  color: #f3f3f3;
  /* background-color: black; */
}

.center-it {
    float: none;
    margin-right: 0;
    width: 100%;
}

.test:checked{
    background-color: aqua;
    background-size: 100%;

}

.logo-div{
  background-image: url(assets/images/creepyCryptoLogo.png);

    /* Set a specific height */
    /* min-height: 500px;   */
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

hr{
  color: white;
}


.spin-loader {
    position: absolute;
    /* left: 50%; */
    /* top: 50%; */
    /* z-index: 1; */
    width: 20px;
    height: 20px;
    margin: 0px 0 0 20px;
    border: 4px solid #f3f3f3;
    border-radius: 60% ;
    border-top: 4px solid #3460db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .parallax {
    /* The image used */
    background-image: url("assets/images/pageCryptoBG.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }